{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "PanelController": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Settings": {
    "I2C": {
      "BusId": 1,
      "Address": 39 // 0x27
    },
    "Display": {
      "Rows": 2,
      "Columns": 16,
      "Use8Bit": false,
      "BacklightTimeout": "00:00:45"
    },    
    "LeftButton": {
      "GpioPin": 22,
      "DebounceTimeMs": 150
    },
    "RightButton": {
      "GpioPin": 27,
      "DebounceTimeMs": 150
    },
    "ActionButton": {
      "GpioPin": 17,
      "DebounceTimeMs": 250
    },
    "RefreshInterval": "00:00:15",
    "TuringPi": {
      "name": "TuringPi",
      "hostname": "turingpi.local",
      "username": "root",
      "keyfile": "Keys/turing.key"
    },
    "Nodes": [
      {
        "name": "Leonardo",
        "hostname": "leonardo.local",
        "username": "pi-admin",
        "keyfile": "Keys/leonardo.key",
        "connectionTimeout": "00:00:20"
      },
      {
        "name": "Donatello",
        "hostname": "donatello.local",
        "username": "pi-admin",
        "keyfile": "Keys/donatello.key",
        "connectionTimeout": "00:00:20"
      },
      {
        "name": "Raphael",
        "hostname": "raphael.local",
        "username": "pi-admin",
        "keyfile": "Keys/raphael.key",
        "connectionTimeout": "00:00:20"
      },
      {
        "name": "Michelangelo",
        "hostname": "michelangelo.local",
        "username": "pi-admin",
        "keyfile": "Keys/michelangelo.key",
        "connectionTimeout": "00:00:20"
      }
    ]
  }
}
